body {
  background-color: whitesmoke;
}
#main {
  width: 300px;
  border-radius: 15px;
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
  font-family: "Zilla Slab", serif;
  font-size: 20px;
  background: #336b32;
}

i {
  font-size: 60px;
  color: white;
  padding: 0;
  margin: 0 0.35em;
}

button {
  padding: 10px;
  font-size: 25px;
  outline: none;
  color: white;
  background: #061f36;
  margin-bottom: 35px;
  width: 100%;
  border: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

h1 {
  background: white;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 40px 0;
  color: #061f36;
}

p {
  font-size: 35px;
  color: #ebd244;
  margin: 0.5em 0;
  font-weight: 700;
}

#num {
  font-size: 65px;
}
@mixin animation-name($name) {
  animation-name: $name;
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -ms-animation-name: $name;
}

@mixin animation-duration($duration) {
  animation-duration: $duration;
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -ms-animation-duration: $duration;
}

@mixin animation-timing-function($func) {
  animation-timing-function: $func;
  -webkit-animation-timing-function: $func;
  -moz-animation-timing-function: $func;
  -ms-animation-timing-function: $func;
}

@mixin animation($name, $duration, $timing-func) {
  @include animation-name($name);
  @include animation-duration($duration);
  @include animation-timing-function($timing-func);
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) translatey(0px);
  }

  25% {
    transform: rotate(25deg) translatey(-20px);
  }

  100% {
    transform: rotate(-360deg) translatey(0px);
  }
}

@keyframes counter-spin {
  0% {
    transform: rotate(0deg) translatey(0px);
  }

  25% {
    transform: rotate(-25deg) translatey(-20px);
  }

  100% {
    transform: rotate(360deg) translatey(0px);
  }
}

#num.bounce-animation {
  @include animation(bounce, 0.5s, ease-in);
}

.die2.spin-animation {
  @include animation(spin, 0.5s, ease);
}

.die1.counter-spin-animation {
  @include animation(counter-spin, 0.5s, ease);
}
