body {
  background-color: whitesmoke;
}

#main {
  width: 300px;
  border-radius: 15px;
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
  font-family: "Zilla Slab", serif;
  font-size: 20px;
  background: #336b32;
}

i {
  font-size: 60px;
  color: white;
  padding: 0;
  margin: 0 0.35em;
}

button {
  padding: 10px;
  font-size: 25px;
  outline: none;
  color: white;
  background: #061f36;
  margin-bottom: 35px;
  width: 100%;
  border: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

h1 {
  background: white;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 40px 0;
  color: #061f36;
}

p {
  font-size: 35px;
  color: #ebd244;
  margin: 0.5em 0;
  font-weight: 700;
}

#num {
  font-size: 65px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translatey(0px);
            transform: rotate(0deg) translatey(0px);
  }
  25% {
    -webkit-transform: rotate(25deg) translatey(-20px);
            transform: rotate(25deg) translatey(-20px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translatey(0px);
            transform: rotate(-360deg) translatey(0px);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translatey(0px);
            transform: rotate(0deg) translatey(0px);
  }
  25% {
    -webkit-transform: rotate(25deg) translatey(-20px);
            transform: rotate(25deg) translatey(-20px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translatey(0px);
            transform: rotate(-360deg) translatey(0px);
  }
}

@-webkit-keyframes counter-spin {
  0% {
    -webkit-transform: rotate(0deg) translatey(0px);
            transform: rotate(0deg) translatey(0px);
  }
  25% {
    -webkit-transform: rotate(-25deg) translatey(-20px);
            transform: rotate(-25deg) translatey(-20px);
  }
  100% {
    -webkit-transform: rotate(360deg) translatey(0px);
            transform: rotate(360deg) translatey(0px);
  }
}

@keyframes counter-spin {
  0% {
    -webkit-transform: rotate(0deg) translatey(0px);
            transform: rotate(0deg) translatey(0px);
  }
  25% {
    -webkit-transform: rotate(-25deg) translatey(-20px);
            transform: rotate(-25deg) translatey(-20px);
  }
  100% {
    -webkit-transform: rotate(360deg) translatey(0px);
            transform: rotate(360deg) translatey(0px);
  }
}

#num.bounce-animation {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
}

.die2.spin-animation {
  animation-name: spin;
  -webkit-animation-name: spin;
  -moz-animation-name: spin;
  -ms-animation-name: spin;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
}

.die1.counter-spin-animation {
  animation-name: counter-spin;
  -webkit-animation-name: counter-spin;
  -moz-animation-name: counter-spin;
  -ms-animation-name: counter-spin;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
}
/*# sourceMappingURL=styles.css.map */